/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background: #e7ebf0;
  color: #293039;
  padding-top: 64px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

@media screen and (max-width: 810px) {
  h1 {
    font-size: calc(1em + 1.5vw);
  }

  h2 {
    font-size: calc(0.75em + 0.9vw);
  }

  h3 {
    font-size: calc(0.5em + 0.75vw);
  }
}
b {
  font-weight: 700;
}

.container {
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 1920px) {
  .container {
    width: min(1280px, 100%);
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.gap-y-1 {
  row-gap: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.border-left-dashed-half-height:after {
  content: "";
  position: absolute;
  top: 0px;
  height: 50%;
  width: 2px;
  color: #293039;
}

.position-relative {
  position: relative;
}

.width-100 {
  width: 100%;
}

a.button, button.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 300px;
  height: 64px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}
a.button.button-dark, button.button.button-dark {
  color: #e7ebf0;
  background-image: url("/images/common/buttons/dark/button-dark-end.webp"), url("/images/common/buttons/dark/button-dark-fill.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: right center, left top;
  background-size: 48px 64px, calc(100% - 48px);
}
a.button.button-dark:hover, button.button.button-dark:hover {
  background-image: url("/images/common/buttons/dark/button-dark-end-hover.webp"), url("/images/common/buttons/dark/button-dark-fill-hover.webp");
}
a.button.button-light, button.button.button-light {
  color: #293039;
  background-image: url("/images/common/buttons/light/button-light-end.webp"), url("/images/common/buttons/light/button-light-fill.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: right center, left top;
  background-size: 48px 64px, calc(100% - 48px);
}
a.button.button-light:hover, button.button.button-light:hover {
  background-image: url("/images/common/buttons/light/button-light-end-hover.webp"), url("/images/common/buttons/light/button-light-fill-hover.webp");
}

.fixed-top-navigation {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 999;
  background-color: #293039;
  color: #e7ebf0;
  box-shadow: -2px 2px 8px 0px #293039;
  height: 64px;
}
.fixed-top-navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
.fixed-top-navigation nav .branding {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  height: 100%;
}
.fixed-top-navigation nav .branding img {
  align-self: center;
  height: 100%;
  object-fit: scale-down;
  margin-right: 1rem;
}
.fixed-top-navigation nav .branding h1 {
  align-self: center;
  font-weight: 900;
  margin: 0;
}
.fixed-top-navigation nav #menu-icon {
  padding: 5px 7px 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: 50ms ease-in-out;
}
.fixed-top-navigation nav #menu-icon svg {
  height: 1rem;
  color: #e7ebf0;
}
.fixed-top-navigation nav #menu-icon:hover {
  background-color: #a7e8db;
}
.fixed-top-navigation nav #menu-icon:hover svg {
  color: #478deb;
}
.fixed-top-navigation nav #menu-button,
.fixed-top-navigation nav #menu-icon {
  display: none;
}
.fixed-top-navigation nav ul {
  list-style: none;
}
.fixed-top-navigation nav ul li {
  display: inline-block;
}
.fixed-top-navigation nav ul li a {
  text-decoration: none;
  color: #e7ebf0;
  padding: 8px 30px;
  border-radius: 7px;
  transition: 50ms ease-in-out;
}
.fixed-top-navigation nav ul li a:hover, .fixed-top-navigation nav ul li a:active {
  color: #478deb;
  background-color: #e7ebf0;
}

@media screen and (max-width: 810px) {
  .top-nav nav ul {
    position: absolute;
    inset: 0 0 auto 0;
    text-align: center;
    width: 100%;
    height: calc(100vh - 64px);
    margin-top: 64px;
    background-color: #293039;
    display: none;
  }
  .top-nav nav ul li {
    display: block;
    padding: 10px 15px;
  }
  .top-nav nav ul li a {
    display: block;
    padding: 10px 0;
  }
  .top-nav nav #menu-icon {
    display: block;
  }
  .top-nav nav #menu-button:checked ~ ul {
    display: block;
  }
}
.carousel {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  max-height: calc(100vh - 64px);
  overflow: hidden;
  background-color: #293039;
  border-bottom: 1px solid #293039;
  box-shadow: -2px 2px 8px 0px #293039;
}
.carousel .carousel-overlay {
  z-index: 1;
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("/images/pattern.png");
  background-repeat: repeat;
}
.carousel .carousel-image {
  z-index: 0;
  width: 100vw;
  height: 56.25vw;
  max-height: calc(100vh - 64px);
  position: absolute;
  inset: 0 0 auto 0;
  opacity: 0;
  will-change: opacity;
  animation: carouselImageAnimation 55s linear infinite;
}
.carousel .carousel-image:nth-of-type(1) {
  animation-delay: 0s;
}
.carousel .carousel-image:nth-of-type(2) {
  animation-delay: 5s;
}
.carousel .carousel-image:nth-of-type(3) {
  animation-delay: 10s;
}
.carousel .carousel-image:nth-of-type(4) {
  animation-delay: 15s;
}
.carousel .carousel-image:nth-of-type(5) {
  animation-delay: 20s;
}
.carousel .carousel-image:nth-of-type(6) {
  animation-delay: 25s;
}
.carousel .carousel-image:nth-of-type(7) {
  animation-delay: 30s;
}
.carousel .carousel-image:nth-of-type(8) {
  animation-delay: 35s;
}
.carousel .carousel-image:nth-of-type(9) {
  animation-delay: 40s;
}
.carousel .carousel-image:nth-of-type(10) {
  animation-delay: 45s;
}
.carousel .carousel-image:nth-of-type(11) {
  animation-delay: 50s;
}
.carousel .carousel-image:nth-of-type(12) {
  animation-delay: 55s;
}
.carousel .carousel-title-container {
  z-index: 2;
  position: absolute;
  inset: 0 0 0 0;
  text-align: center;
  color: #e7ebf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel .carousel-title-container h1, .carousel .carousel-title-container h3 {
  text-shadow: -0.05em 0.02em #293039, -0.08em 0.04em #ff8e99;
}
.carousel .carousel-title-container a {
  padding: 0.5rem 1rem;
  background-color: #478deb;
  color: #e7ebf0;
  border: 1px solid #e7ebf0;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 900;
}
.carousel .carousel-title-container a:hover, .carousel .carousel-title-container a:active {
  background-color: #293039;
  color: #e7ebf0;
}

@media screen and (max-width: 810px) {
  .carousel .carousel-title-container a {
    font-size: 1rem;
  }
}
@keyframes carouselImageAnimation {
  0% {
    filter: blur(12px);
  }
  10% {
    opacity: 1;
    filter: blur(0);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
  }
}
.illustration {
  width: 100vw;
  height: 56.25vw;
  max-height: calc(100vh - 64px);
  overflow: hidden;
  position: relative;
  background-color: #293039;
  border-bottom: 1px solid #293039;
  box-shadow: -2px 2px 8px 0px #293039;
}
.illustration .illustration-overlay {
  z-index: 1;
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("/images/common/pattern.png");
  background-repeat: repeat;
}
.illustration .illustration-image {
  z-index: 0;
  width: 100vw;
  height: 56.25vw;
  max-height: calc(100vh - 64px);
  position: absolute;
  inset: 0 0 auto 0;
  background-image: url("/images/landing/heading.webp");
  background-size: cover;
  background-position: center top;
}
.illustration .illustration-title-container {
  z-index: 2;
  position: absolute;
  inset: 0 0 0 0;
  text-align: center;
  color: #e7ebf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.illustration .illustration-title-container h1,
.illustration .illustration-title-container h3 {
  text-shadow: -0.05em 0.02em #293039, -0.08em 0.04em #ff8e99;
}

@media screen and (max-width: 810px) {
  .illustration .illustration-title-container a {
    font-size: 1rem;
  }
}
#message-us-container {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  align-content: space-evenly;
  gap: 1rem;
  padding-inline: 1rem;
}
#message-us-container #message-us-info {
  flex: 1 1 0;
}
#message-us-container #message-us-info h1 {
  color: #e7ebf0;
  background-color: #63628c;
  font-weight: 900;
  padding: 1rem 1.5rem;
}
#message-us-container #message-us-form {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#message-us-container #message-us-form input, #message-us-container #message-us-form textarea {
  font-size: 0.75rem;
  resize: none;
  font-family: inherit;
  outline: none;
  border: 1px solid #63628c;
  padding: 1rem 1.5rem;
}
#message-us-container #message-us-form input::placeholder, #message-us-container #message-us-form textarea::placeholder {
  font-size: 0.75rem;
  color: #63628c;
  font-weight: 700;
  opacity: 1;
}
#message-us-container #message-us-form input:focus, #message-us-container #message-us-form textarea:focus {
  border: 1px solid #293039;
}
#message-us-container #message-us-form input:focus::placeholder, #message-us-container #message-us-form textarea:focus::placeholder {
  opacity: revert;
}

@media screen and (max-width: 1280px) {
  #message-us-container {
    flex-direction: column;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0 0;
  grid-template-areas: "img-1 img-1 img-2 img-3" "img-1 img-1 img-4 img-5" "img-7 img-8 img-6 img-6" "img-9 img-10 img-6 img-6" "img-11 img-12 img-13 img-14";
}
.gallery img:nth-of-type(1) {
  grid-area: img-1;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(2) {
  grid-area: img-2;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(3) {
  grid-area: img-3;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(4) {
  grid-area: img-4;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(5) {
  grid-area: img-5;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(6) {
  grid-area: img-6;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(7) {
  grid-area: img-7;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(8) {
  grid-area: img-8;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(9) {
  grid-area: img-9;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(10) {
  grid-area: img-10;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(11) {
  grid-area: img-11;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(12) {
  grid-area: img-12;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(13) {
  grid-area: img-13;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.gallery img:nth-of-type(14) {
  grid-area: img-14;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#meet-the-officers {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 0px;
  row-gap: 1rem;
}
#meet-the-officers #meet-the-officers-content {
  display: flex;
  flex-direction: row;
}
#meet-the-officers #meet-the-officers-content div {
  box-sizing: border-box;
  text-align: justify;
  padding: 40px;
  width: 50%;
  align-self: center;
}
#meet-the-officers #meet-the-officers-content div:first-child {
  background-color: #63628c;
  color: #e7ebf0;
}

.split-heading-container {
  display: flex;
  flex-direction: column;
}

.split-heading-top,
.split-heading-bottom {
  background-color: #63628c;
  text-align: right;
  width: fit-content;
  padding: 0.5rem 1rem;
  color: #e7ebf0;
  margin: 0;
  align-self: flex-end;
}

@media screen and (max-width: 810px) {
  #meet-the-officers #meet-the-officers-content {
    flex-direction: column;
  }
  #meet-the-officers #meet-the-officers-content div {
    width: 100%;
  }

  .split-heading-container {
    flex-direction: row;
  }
  .split-heading-container .split-heading-top {
    padding-right: 0;
  }
  .split-heading-container .split-heading-bottom {
    padding-left: 0.5rem;
  }
}

/*# sourceMappingURL=landing.css.map */
