/* Variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

body {
  padding-top: 64px;
  min-height: 100vh;
  background-color: #e7ebf0;
  color: #293039;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #293039;
  color: #e7ebf0;
  border-bottom: 1px solid #e7ebf0;
  box-shadow: -2px 2px 8px 0px #293039;
}
.top-nav .nav-brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  height: 100%;
}
.top-nav .nav-brand img {
  align-self: center;
  height: 100%;
  object-fit: scale-down;
  margin-right: 1rem;
}
.top-nav .nav-brand .brand-title {
  font-size: 2rem;
  align-self: center;
}
.top-nav #menu-icon {
  padding: 5px 7px 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms ease-out;
}
.top-nav #menu-icon svg {
  height: 1rem;
  color: #e7ebf0;
}
.top-nav #menu-icon:hover {
  background-color: #a7e8db;
}
.top-nav #menu-icon:hover svg {
  color: #478deb;
}
.top-nav #menu-button, .top-nav #menu-icon {
  display: none;
}
.top-nav ul {
  list-style: none;
}
.top-nav ul li {
  display: inline-block;
}
.top-nav ul li a {
  text-decoration: none;
  color: #e7ebf0;
  padding: 8px 30px;
  border-radius: 7px;
  transition: 250ms ease-out;
}
.top-nav ul li a:hover, .top-nav ul li a:active {
  color: #478deb;
  background-color: #e7ebf0;
}

@media screen and (max-width: 992px) {
  .top-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: calc(100vh - 64px);
    margin-top: 64px;
    background-color: #293039;
    display: none;
  }
  .top-nav ul li {
    display: block;
    padding: 10px 15px;
  }
  .top-nav ul li a {
    display: block;
    padding: 10px 0;
  }
  .top-nav #menu-icon {
    display: block;
  }
  .top-nav #menu-button:checked ~ ul {
    display: block;
  }
}