:root {
    /*
    //  Colors Variables
    // -----------------------------------------------------------------------*/
    --color-black: #293039;
    --color-white: #e7ebf0;
    --color-blue: #478deb;
    --color-yellow: #fdb165;
    --color-green: #a7e8db;
    --color-pink: #ff8e99;
    --color-purple: #63628c;

    /*
    //  Fonts
    // -----------------------------------------------------------------------*/
    --font-spartan: 'Spartan', sans-serif;
    --font-nuinto: 'Nunito', sans-serif;

    /*
    //  Font Sizes
    // -----------------------------------------------------------------------*/
    --font-size-base: 18px;
    --font-size-small: calc(var(--font-size-base) * 0.75);
    --font-size-medium: calc(var(--font-size-base) * 1.25);
    --font-size-large: calc(var(--font-size-base) * 1.75);
    --font-size-xlarge: calc(var(--font-size-base) * 2);

    /*
    //  Font Weights
    // -----------------------------------------------------------------------*/
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --font-weight-heavy: 900;

    /*
    //  Media Break Point Variables
    // -----------------------------------------------------------------------*/
    --breakpoint-desktop: 1920px;
    --breakpoint-laptop: 1280px;
    --breakpoint-tablet: 810px;
    --breakpoint-mobile: 576px;

    --top-nav-height: 64px;
    --transition-short: 50ms ease-in-out;
    --transition: 250ms ease-out;
    --transition-long: 500ms ease-out;
}
