<section class="page-header-container" style="background-image: url('@ViewData["HeaderImage"]')">
    <div class="page-header">
        <h1 class="display-2">@ViewData["Title"]</h1>
    </div>
</section>