@page
@model IndexModel
@{
    ViewData["Title"] = "Needs Callouts Free Company";
    Layout = "_CoverLayout";
}

<main class="mt-auto px-3">
    <h1>Needs Callouts &lt;WOOPS&gt;</h1>
    <p class="lead">A Final Fantasy XIV Free Company</p>
    <p class="lead">
        <a asp-controller="Home" asp-action="About" class="btn btn-lg btn-secondary fw-bold border-white bg-white">
            Learn More
        </a>
    </p>
</main>
