@use './variables' as *;

.button {
    padding: .5rem 1rem;
    border-radius: .3rem;
    border-top-right-radius: 90deg;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

.button-white {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
}


@media screen and (max-width: $media-query-breakpoint) {
    .button {
        // padding: 0.25rem .5rem;
        font-size: 1rem;
    }
}
