@use './variables' as *;

@for $i from 1 through 6 {
    h#{$i} {
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    }
}

@for $i from 1 through 2 {
    h#{$i} {
        font-size: #{2.5rem - (($i - 1rem) * 0.5)};
    }
}

@for $i from 3 through 7 {
    h#{$i} {
        font-size: #{1.75rem - (($i - 1rem ) * 0.25)};
    }
}

@media screen and (max-width: $media-query-breakpoint) {
    h1 {
        font-size: calc(1em + 1.5vw);
    }

    h2 {
        font-size: calc(0.75em + 0.9vw);
    }

    h3 {
        font-size: calc(0.5em + 0.75vw);
    }
}
