@use './variables' as *;

//
//  Root
// -----------------------------------------------------------------------------
html {
    font-family: $font-spartan;
    font-size: $font-size-regular;
    font-weight: $font-weight-light;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background: $white;
    color: $black;
    padding-top: $top-nav-height;
    line-height: 24px;
}
