@use './variables' as *;

//
//  Top Navigation Bar
// -----------------------------------------------------------------------------
.fixed-top-navigation {
    position: fixed;
    inset: 0 0 auto 0;
    
    //  Ensure it doesn't get hidden behind anything
    z-index: 999; 

    background-color: $black;
    color: $white;
    box-shadow: -2px 2px 8px 0px $black;

    //  Top navigation bar has a fixed height always, which other elements
    //  should take into account for initial body positioning
    height: $top-nav-height;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 15px;

        .branding {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 5px;
            height: 100%;

            img {
                align-self: center;
                height: 100%;
                object-fit: scale-down;
                margin-right: 1rem;
            }

            h1 {
                align-self: center;
                font-weight: $font-weight-heavy;
                margin: 0;
            }
        }

        #menu-icon {
            padding: 5px 7px 3px 7px;
            border-radius: 4px;
            cursor: pointer;
            transition: $transition-short;

            svg {
                height: $font-size-base;
                color: $white;
            }

            &:hover {
                background-color: $green;

                svg {
                    color: $blue;
                }
            }
        }

        #menu-button,
        #menu-icon {
            display: none;
        }

        ul {
            list-style: none;
            
            li{
                display: inline-block;

                a {
                    text-decoration: none;
                    color: $white;
                    padding: 8px 30px;
                    border-radius: 7px;
                    transition: $transition-short;
                    
                    &:hover,
                    &:active {
                        color: $blue;
                        background-color: $white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .top-nav {
        nav {
            ul {
                position: absolute;
                inset: 0 0 auto 0;
                text-align: center;
                width: 100%;
                height: calc(100vh - $top-nav-height);
                margin-top: $top-nav-height;
                background-color: $black;
                display: none;

                li {
                    display: block;
                    padding: 10px 15px;

                    a {
                        display: block;
                        padding: 10px 0;
                    }
                }
            }

            #menu-icon{
                display: block;
            }

            #menu-button:checked {
                &~ul {
                    display: block;
                }
            }
        }
    }
}


