@use './variables' as *;

.container {
    width: 100%;
    margin-inline: auto;

    @media screen and (min-width: $breakpoint-desktop) {
        width: min(1280px, 100%);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.gap-y-1 {
    row-gap: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.border-left-dashed-half-height {
    &:after {
        content: '';
        position: absolute;
        top: 0px;
        height: 50%;
        width: 2px;
        color: $black;
    }
}

.position-relative {
    position: relative;
}

.width-100 {
    width: 100%;
}
