@use './variables' as *;

//
//  Background Color Shorthands
// -----------------------------------------------------------------------------
.bg-black {
    background-color: $black;
}

.bg-purple {
    background-color: $purple;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-blue {
    background-color: $blue;
}

.bg-green {
    background-color: $green;
}

.bg-white {
    background-color: $white;
}

.bg-pink {
    background-color: $pink;
}

//
//  Text Color Shorthands
// -----------------------------------------------------------------------------
.text-black {
    color: $black;
}

.text-purple {
    color: $purple;
}

.text-yellow {
    color: $yellow;
}

.text-blue {
    color: $blue;
}

.text-green {
    color: $green;
}

.text-white {
    color: $white;
}

.container {
    width: 100%;
    margin-inline: auto;
    width: min(100%, 1440px);

    // @media screen and (min-width: $breakpoint-desktop) {
    //     width: max(1280px, 100%);
    // }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.gap-y-1 {
    row-gap: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.border-left-dashed-half-height {
    &:after {
        content: '';
        position: absolute;
        top: 0px;
        height: 50%;
        width: 2px;
        color: $black;
    }
}

.position-relative {
    position: relative;
}

.width-100 {
    width: 100%;
}
