@use './variables' as *;
@use './core';
@use './components/carousel';

//
//  Illustration
// -----------------------------------------------------------------------------
.illustration {
    //  The width and height are set to give a 16:9 (0.5625) apsect ratio
    width: 100vw;
    height: 56.25vw;

    //  Epending on the screen size, however, do not allow the height to
    //  go beyond the height of the view
    max-height: calc(100vh - $top-nav-height);

    //  Hide any overflow, we want this to all be contained
    overflow: hidden;

    //  Position is set to relative here to ensure the absolute positions set
    //  in the contained elements function properly
    position: relative;

    background-color: $black;
    border-bottom: 1px solid $black;
    box-shadow: -2px 2px 8px 0px $black;

    .illustration-overlay {
        //  Ensure the overlay is above the image on the z-index but
        //  below the title container
        z-index: 1;

        //  Use absolute positioning to stretch the overlay across the
        //  entire container
        position: absolute;
        inset: 0 0 0 0;

        background-image: url('/images/common/pattern.png');
        background-repeat: repeat;
    }

    .illustration-image {
        //  Ensure the image is at the bottom of the z-index below the overlay
        z-index: 0;

        //  Just like with the container, we'll set the width and height of
        //  the image to ensure a 16:9 (0.5625) aspect ratio
        width: 100vw;
        height: 56.25vw;
        max-height: calc(100vh - $top-nav-height);

        //  Position in the top-left of the container
        position: absolute;
        inset: 0 0 auto 0;

        background-image: url('/images/landing/heading.webp');
        background-size: cover;
        background-position: center top;
    }

    .illustration-title-container {
        //  Ensure the title cotnainer is the top z-index above the image
        //  and the overlay
        z-index: 2;

        //  Use absolute positioning to stretch the title container across the
        //  entire illustration container
        position: absolute;
        inset: 0 0 0 0;

        text-align: center;
        color: $white;

        //  We'll make use of flex to center the title container content
        //  directly in the middel of the entire section.
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1,
        h3 {
            text-shadow: -0.05em 0.02em $black, -0.08em 0.04em $pink;
        }

        // a {
        //     padding: 0.5rem 1rem;
        //     background-color: $blue;
        //     color: $white;

        //     border: 1px solid $white;
        //     border-radius: 0.3rem;
        //     text-decoration: none;

        //     font-size: $font-size-large;
        //     font-weight: $font-weight-heavy;

        //     &:hover,
        //     &:active {
        //         background-color: $black;
        //         color: $white;
        //     }
        // }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .illustration {
        .illustration-title-container {
            a {
                font-size: $font-size-regular;
            }
        }
    }
}

//
//  Message Us
// -----------------------------------------------------------------------------
#message-us-container {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    align-content: space-evenly;
    gap: 1rem;
    padding-inline: 1rem;

    #message-us-info {
        flex: 1 1 0;
        h1 {
            color: $white;
            background-color: $purple;
            font-weight: $font-weight-heavy;
            padding: 1rem 1.5rem;
        }
    }

    #message-us-form {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,
        textarea {
            font-size: $font-size-small;
            resize: none;
            font-family: inherit;
            outline: none;
            border: 1px solid $purple;
            padding: 1rem 1.5rem;

            &::placeholder {
                font-size: $font-size-small;
                color: $purple;
                font-weight: $font-weight-bold;
                opacity: 1;
            }

            &:focus {
                border: 1px solid $black;
                &::placeholder {
                    opacity: revert;
                }
            }
        }

        // button {
        //     min-height: 64px;
        //     background-color: $black;
        //     color: $white;
        //     border: none;
        //     padding: 1rem 1.5rem;

        //     background-image: url('/images/site/buttons/button-dark-right.webp');
        //     background-repeat: no-repeat;
        //     background-position: right center;
        //     background-size: 64px 64px;

        //     &:hover {
        //         background-color: $blue;
        //         background-image: url('/images/site/buttons/button-dark-right-hover.webp');
        //     }
        // }
    }
}

@media screen and (max-width: $breakpoint-laptop) {
    #message-us-container {
        flex-direction: column;
    }
}

//
//  Gallery
// -----------------------------------------------------------------------------
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0 0;
    grid-template-areas:
        'img-1 img-1 img-2 img-3'
        'img-1 img-1 img-4 img-5'
        'img-7 img-8 img-6 img-6'
        'img-9 img-10 img-6 img-6'
        'img-11 img-12 img-13 img-14';

    @for $i from 1 through 14 {
        img:nth-of-type(#{$i}) {
            grid-area: img-#{$i};
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }
}

//
//  Meet the Officers
// -----------------------------------------------------------------------------

#meet-the-officers {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('/images/arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 0px;
    row-gap: 1rem;

    .split-heading-container {
        display: flex;
        flex-direction: column;

        .split-heading-top,
        .split-heading-bottom {
            background-color: $purple;
            text-align: right;
            width: fit-content;
            padding: 0.5rem 1rem;
            color: $white;
            margin: 0;
            align-self: flex-end;
        }
    }

    #meet-the-officers-content {
        display: flex;
        flex-direction: row;

        div {
            box-sizing: border-box;
            text-align: justify;
            padding: 40px;
            width: 50%;
            align-self: center;
        }

        div:first-child {
            background-color: $purple;
            color: $white;
        }
    }

    #ranks-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 1rem;
        column-gap: 1rem;
        gap: 1rem;
        width: 100%;

        .rank-card {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;

            .rank-card-heading {
                width: 100%;
                padding: 0.5rem 1rem;
                font-size: $font-size-regular;
                font-weight: $font-weight-bold;
                color: $white;
                background-color: $purple;
                box-sizing: border-box;
                margin-bottom: 0;
            }

            .rank-card-body {
                height: 100%;
                background-color: $black;
                padding-block: 40px;
                padding-inline: 30px;
                box-sizing: border-box;

            }

            .rank {
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
                .rank-title {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    .rank-name {
                        align-self: center;
                        width: min(100%, 317px);
                        padding-left: 1rem;
                        font-size: $font-size-small;
                        font-weight: $font-weight-bold;
                        margin-left: -10px;
                    }

                    .rank-image {
                        flex-shrink: 0;
                        width: 60px;
                        height: 60px;
                        background-color: $white;
                        border-radius: 2rem;
                        background-size: cover;
                        background-position: center center;
                        z-index: 1;
                    }
                }

                .rank-description {
                    color: $white;
                    font-size: $font-size-small;
                    text-align: left;
                    padding-left: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    #meet-the-officers {
        .split-heading-container {
            flex-direction: row;

            .split-heading-top {
                padding-right: 0;
            }

            .split-heading-bottom {
                padding-left: 0.5rem;
            }
        }

        #meet-the-officers-content {
            flex-direction: column;

            div {
                width: 100%;
            }
        }

        #ranks-container {
            flex-direction: column;
            #ranks {
                width: 100%;
            }
        }
    }
}
