/* Variables */
$black: #293039;
$white: #e7ebf0;
$blue: #478deb;
$yellow: #fdb165;
$green: #a7e8db;
$pink: #ff8e99;
$purple: #63628c;

$top-nav-height: 64px;
$transition: 250ms ease-out;
$transition-long: 500ms ease-out;

// Reset padding, margin, and box-sizing globally
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

body {
  padding-top: $top-nav-height;
  min-height: 100vh;
  background-color: $white;
  color: $black;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $top-nav-height;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $black;
  color: $white;
  border-bottom: 1px solid $white;
  box-shadow: -2px 2px 8px 0px $black;

  .nav-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    height: 100%;

    img {
      align-self: center;
      height: 100%;
      object-fit: scale-down;
      margin-right: 1rem;
    }

    .brand-title {
      font-size: 2rem;
      align-self: center;
    }
  }

  #menu-icon {
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: $transition;

    svg {
      height: 1rem;
      color: $white;
    }

    &:hover {
      background-color: $green;

      svg {
        color: $blue;
      }
    }
  }

  #menu-button, #menu-icon {
    display: none;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: $white;
        padding: 8px 30px;
        border-radius: 7px;
        transition: $transition;

        &:hover,
        &:active {
          color: $blue;
          background-color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .top-nav {
    ul {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      width: 100%;
      height: calc(100vh - $top-nav-height);
      margin-top: $top-nav-height;
      background-color: $black;
      display: none;

      li {
        display: block;
        padding: 10px 15px;

        a {
          display: block;
          padding: 10px 0
        }
      }
    }

    #menu-icon {
      display: block;
    }

    #menu-button:checked {
      &~ul {
        display: block;
      }
    }
  }
}
