@use '../abstracts/variables' as *;

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: fit-content;
    padding-left: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: $font-weight-bold;
    position: relative;
}


.button-dark {
    background-color: $black;
    color: $white;


    &::after {
        content: '';
        background-color: $white;
        background-image: url('/images/site/buttons/button-dark-right.webp');
        background-size: 48px 64px;
        display: inline-block;
        width: 48px;
        height: 64px;
        
    }

    &:hover {
        background-color: $blue;
        color: $white;

        &::after {
            background-image: url('/images/site/buttons/button-dark-right-hover.webp');
        }
    }
}

.button-white {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
}


@media screen and (max-width: $media-query-breakpoint) {
    .button {
        // padding: 0.25rem .5rem;
        font-size: 1rem;
    }
}
