<footer class="pb-2 pt-5 bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                    aria-label="Needs Callouts">
                    <img class="img-fluid" width="50" src="~/images/spriggan.png" alt="Spriggan">
                    <span class="fs-5 text-light">It's Just Like Normal Mode</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">
                        Designed with ❤️ by Christopher Whitley
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 offset-lg-1 text-muted">
                <p class="text-centered">
                    FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd.
                    © SQUARE ENIX CO., LTD. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
