@{
    ViewData["Title"] = "About Us";
    ViewData["HeaderImage"] = "/images/pages/about-us/header-image.png";
    Layout = "_Layout";
}

@section Description {
<meta name="description" content="About the Needs Callouts Free Company" />
<meta name="author" content="Kanae Sumida" />
}

@section OpenGraph {
<meta property="og:locale" content="en-US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="About the Needs Callouts Free Company" />
<meta property="og:description" content="Learn more about the Needs Callouts Free Company." />
<meta property="og:url" content="https://needscallouts.com/about-us" />
<meta property="og:site_name" content="@ViewData["Title"]" />
<meta property="og:image" content="/images/pages/about-us/header-image.png" />
}
<main>
    <partial name="_PageHeader" />
    <div class="container">
        <div class="row feature">
            <div class="col-md-7 align-self-center">
                <h2 class="heading">Who are we?</h2>
                <p class="feature-text">
                    Needs Callouts is a social Free Company within Final Fantasy XIV on the Adamantoise server.
                    We offer a welcoming, mature, and respectful environment to all players of FFXIV. You will
                    not find strict membership rules and requirements to stay within the Free Company here; members are
                    encouraged to enjoy the entire spectrum of content within the game in the way that they enjoy most.
                </p>

                <p class="feature-text">
                    We offer weekly events such as mount farming and treasure map nights, always active Free Company
                    buffs,
                    grouped content running for leveling/glamor/achievements, and general socializing through the
                    in-game
                    Free Company chat and our Discord server.
                </p>
            </div>
            <div class="col-md-5">
                <img class="d-block mx-lg-auto img-fluid" src="~/images/pages/about-us/collage.png" loading="lazy" />
            </div>
        </div>

        <hr class="divider">

        <div class="row feature quotes">
            <h2 class="heading text-center mb-5">What Members Are Saying!</h2>
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140" src="~/images/pages/about-us/gon-quote.png"
                    loading="lazy">
                <h2>Gonpachiro Kamaboko</h2>
                <p class="text-muted">
                    <i>
                        "Love this FC. Can't think of any other FC where you can /slap the leader every single day and
                        not get kicked out!"
                    </i>
                </p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140" src="~/images/pages/about-us/ryu-quote.png"
                    loading="lazy">
                <h2>Ryuuka Kaiser</h2>
                <p class="text-muted">
                    <i>
                        "I ordered three popotoes, but the kitchen fantasia'd one into an Au Ra and it won't stop
                        wearing my clothes.
                        Also the wait staff refuse to wear pants, seems unsanitary."
                    </i>
                </p>
                <p class="text-muted">
                    <i>
                        ★★★★☆
                    </i>
                </p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140" src="~/images/pages/about-us/kanae-quote.png"
                    loading="lazy">
                <h2>Kanae Sumida</h2>
                <p class="text-muted">
                    <i>
                        "I love logging in every day to get /slap'd by fellow FC members. Reminds me why I started this
                        Free Company
                        in the first place. Just like family here, including stealing other member's clothes."
                    </i>
                </p>
            </div>
        </div>

        <hr class="divider">

        <div class="row feature">
            <div class="col-md-7 order-md-2">
                <h2 class="heading">Join Us Today!</h2>
                <p class="feature-text">
                    All players are welcome to join our Free Company. Membership includes new players progressing
                    through the main story, end game savage raiders, career crafters and gathers, and more casual social
                    players.
                </p>
                <p class="feature-text">
                    If you’re looking for more ways to enjoy a game you already love, want to make more friends, or
                    simply just a place to call home, get in touch with us today and submit an application.
                </p>
                <a asp-controller="Home" asp-action="Join" class="btn btn-primary w-100 mb-2">How To Join</a>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="d-block mx-lg-auto img-fluid" src="~/images/pages/about-us/welcome.png" loading="lazy">
            </div>
        </div>
    </div>
</main>
