@{
    ViewData["Title"] = "How to Join";
    ViewData["HeaderImage"] = "/images/pages/how-to-join/header-image.png";
    Layout = "_Layout";
}

@section Description {
<meta name="description" content="About the Needs Callouts Free Company">
<meta name="author" content="Kanae Sumida">
}

@section OpenGraph {
<meta property="og:locale" content="en-US">
<meta property="og:type" content="website">
<meta property="og:title" content="How to Join">
<meta property="og:description" content="How to join the Needs Callouts Free Company">
<meta property="og:url" content="https://needscallouts.com/how-to-join">
<meta property="og:site_name" content="@ViewData["Title"]">
<meta property="og:image" content="/images/pages/how-to-join/header-image.png">
}

<main>
    <partial name="_PageHeader" />

    <div class="container marketing">
        <div class="row feature">

            <div class="col-md-7 align-self-center">
                <h2 class="heading">Joining The Free Company In Game</h2>
                <p class="feature-text">
                    When logged into the game, there are a few ways to join the Free Company. The easiest
                    way would be to use the in-game <b>Player Search</b> and search for any Free Company
                    member. When you have located one, you can right-click on their name (square button on Playstation
                    controller),
                    and choose <b>View Company Info</b>, the click the <b>Submit Application</b> button.
                </p>

                <p class="feature-text">
                    An alternative method is to come visit our estate, located in <b>The Mist, Ward 11, Plot 30</b>.
                    Once at the estate, you can click the <b>placard</b>, then click the <b>small search icon button</b>
                    to
                    display the Free Company info. From there, you can click the <b>Submit Application</b> button as
                    usual.
                </p>
            </div>
            <div class="col-md-5">
                <img class="d-block mx-auto img-fluid img-thumbnail" src="~/images/pages/how-to-join/fc-info.png"
                    loading="lazy">
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="container">
        <div class="row feature">
            <div class="col-md-5">
                <img class="d-block mx-auto img-fluid" src="~/images/pages/how-to-join/discord-logo.png" loading="lazy">
            </div>
            <div class="col-md-7 align-self-center">
                <h2 class="heading">Send A Message On Discord</h2>
                <p class="feature-text">
                    If you are unable to reach us in-game to join the Free Company, you
                    can alternativly send a message on Discord to our Free Company Leader
                    at <a href="https://discord.com/users/57912695378149376/"><b>Dartvalince#4601</b></a>.
                </p>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="container mb-5">
        <div class="row feature">
            <div class="col-md-7 align-self-center">
                <h2 class="heading">Community Finder Page</h2>
                <p class="feature-text">
                    We also have a <a
                        href="https://na.finalfantasyxiv.com/lodestone/community_finder/663be3e8cdf478294b3146c1263d478812435892/"><b>Community
                            Finder</b></a> page on the official Final Fantasy XIV
                    Lodestone. You can also reach us here and leave a comment on the page. The Free Company
                    Leader or one of the Officers will then get in contact with you in game as soon as possible.
                </p>
            </div>

            <div class="col-md-5">
                <img class="d-block mx-auto img-fluid img-thumbnail" src="~/images/pages/how-to-join/community-card.png"
                    loading="lazy">
            </div>
        </div>
    </div>




</main>