@{
    ViewBag.Title = "Free Company Ranks";
    ViewBag.Description = "Details about free company member ranks.";
    ViewBag.Image = "images/pages/free-company-ranks/header-image.png";
    Layout = "Layouts/General/_Layout";
    ViewBag.Action = ViewContext.RouteData.Values["Action"].ToString();
}

<main>
    <partial name="Layouts/General/_PageHeader" />

    <div class="container">
        <div class="row feature">
            <div class="col-md-7 align-self-center">
                <h2 class="heading">Free Company Leader & Officers</h2>
                <p class="feature-text">
                    The Free Company Leader and Officers are responsible for overseeing all aspects of the Free Company
                    including the day-to-day management, organizing and/or hosting events within the Free Company,
                    assisting
                    members with content within the game, and are actively involved with the social aspects of the Free
                    Company.
                </p>

                <p class="feature-text">
                    The Free Company Leader and Officers are also responsible for ensuring that all rules and guidelines
                    are
                    followed to ensure a continued friendly and welcoming and enjoyable environment for all Free Company
                    members.
                </p>

                <p class="feature-text">
                    Members are only eligible for an Officer position within the Free Company when a spot becomes
                    available and
                    must go through an application and interview process to be considered for the position.
                </p>
            </div>
            <div class="col-md-5">
                <b>Free Company Leader</b>
                <div class="profile-pill">
                    <img src="~/images/pages/free-company-ranks/kanae.png" loading="lazy">
                    <div class="name">Kanae Sumida</div>
                </div>

                <hr />

                <b>Free Company Officers</b>
                <div class="profile-pill mb-2">
                    <img src="https://img2.finalfantasyxiv.com/f/7da9f6c9a271ce1315fca3e5186586e0_1f5fd239b885860b7c2bfc72ad1d97effc0_96x96.jpg?1620713838"
                        loading="lazy">
                    <div class="name">Muggy Bear</div>
                </div>
                <div class="profile-pill">
                    <img src="~/images/pages/free-company-ranks/lailah.png" loading="lazy">
                    <div class="name">Lailah Ornate</div>
                </div>
                <div class="profile-pill">
                    <img src="~/images/pages/free-company-ranks/gon.png" loading="lazy">
                    <div class="name">Gonpachiro Kamaboko</div>
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="feature">
            <h2 class="heading mb-3">Member Ranks</h2>
            <div class="row align-items-md-stretch">
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">Recruit</h2>
                        <p class="feature-text">
                            This is the base rank for any new member that joins the Free Company. Recruits will have
                            basic access to things within the Free Company, such as the Chocobo Stable and FC Buffs.
                            Recruits will remain in this rank for a probationary period. This is to give us time to get
                            to know you better and gauge overall participation within the Free Company. Moving out of
                            this rank is based on a couple of factors, most importantly of which is participation within
                            the Free Company through events, running content, and/or social chat. After the probationary
                            period,
                            members are moved out of the Recruit rank and into the Adventurer rank.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">Adventurer</h2>
                        <p class="feature-text">
                            This is the basic rank for all members of the Free Company that have gone through
                            the Recruit probationary period. Members of this rank are given wider access to
                            Free Company amenities such as the Free Company Chest. Once this rank is achieved,
                            members will retain this rank unless requirements for an auxiliary rank is met and
                            the member wishes to be moved to one.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col">
                    <div class="h-100 p-5 bg-dark text-light border rounded-3">
                        <h2 class="heading">On Vacation</h2>
                        <p class="feature-text">
                            This rank is reserved for those members that are going to be away from the game for an
                            extended period of time.
                            We understand that everyone has a real life and things come up, or that you simply may need
                            an extended break from
                            the game for any reason. Just let us know that you’ll be taking a break and we’ll move you
                            into this rank. Members
                            that are in this rank are excluded from being purged from the Free Company if the number of
                            inactive days exceeds 180 days.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="feature">
            <h2 class="heading mb-3">Auxillary Ranks</h2>
            <p class="feature-text">
                Auxillary ranks are those that are special title versions of other member ranks. They do no generally
                come with
                any extra privileges or FC access, unless otherwise stated.
            </p>
            <div class="row align-items-md-stretch">
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">Mentor</h2>
                        <p class="feature-text">
                            Mentors is an auxillary rank for the Legends Rank. These are players that enjoy teaching
                            other players all content, including extreme trails and savage raiding.
                            This requires mentors to be knowledgeable about all jobs, including crafting and gathering.
                            Mentors are expected
                            to be active players within the game and to actively participate in helping other and
                            teaching content. Members
                            wishing to be given them Mentor rank must first qualify for the <b>Legend</b> rank and have
                            also achieved the
                            mentor status in-game.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">Legend</h2>
                        <p class="feature-text">
                            Legend is an auxillary rank to the Adventurer rank. In order to be moved into
                            the Legend rank, a member must have first achieved maximum level with all jobs,
                            including crafters and gatherers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">Champion</h2>
                        <p class="feature-text">
                            Champion is an auxillary rank to the Adventurer rank. In order to be moved into
                            the Champion rank, a member must have first achieved maximum level with one healer, one
                            dps, and one tank job.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">Omnicrafter</h2>
                        <p class="feature-text">
                            This is an auxillary rank to the Adventurer rank. Members of this rank are those that enjoy
                            the crafting, and to an extent gathering, side of the game. They can help you with any
                            of your crafting needs. In order for a member to be moved into the Omnicrafter rank,
                            they must have all crafting and gathering jobs at maximum level. <b>Omnicrafters also have
                                additional access to the Free Company Workshop</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="feature">
            <h2 class="heading mb-3">Temporary Ranks</h2>
            <p class="feature-text">
                Temporary ranks are those that are granted to a Free Company member temporarily in order for
                them to accomplish some task. These ranks do come with additional privileges, but only those that
                are specific to the task at hand.
            </p>
            <div class="row align-items-md-stretch">
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">House Decorator</h2>
                        <p class="feature-text">
                            House Decorator is a temporary rank that grants access to decorating within the Free Company
                            house.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="h-100 p-5 bg-light text-dark border rounded-3">
                        <h2 class="heading">Workshop Craft</h2>
                        <p class="feature-text">
                            Workshop Craft is a temporary rank that grants access to the Free Company workshop.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</main>
