@{
    ViewBag.Title = "Free Company Rules & Guidelines";
    ViewBag.Description = "View all rules & guidelines for free company members.";
    ViewBag.Image = "images/pages/free-company-rules-guidelines/header-image.png";
    Layout = "Layouts/General/_Layout";
    ViewBag.Action = ViewContext.RouteData.Values["Action"].ToString();
}

<main>
    <partial name="Layouts/General/_PageHeader" />
    <div class="container col-xxl-8 px-4">
        <div class="row align-items-center g-5">
            <div class="card border shadow">
                <div class="card-body">
                    <section class="border-bottom mb-5">
                        <h1 class="display-5 text-center">Free Company Rules & Guidelines</h1>
                        <hr />
                        <p>
                            <b>Last Edited: 05/08/2021</b>
                        </p>
                        <p>
                            Our Free Company strives to allow members to enjoy the game and Free Company in
                            whatever way they find the most enjoyable. We do not impose requirements on skill or
                            cumulative playtime. Above all, we ask that members are respectful to each other and help
                            provide a welcoming environment to all.
                        </p>
                        <p>
                            With that said, the rules below have been created to help ensure we remain a friendly,
                            welcoming,
                            and mature Free Company.
                        </p>
                    </section>

                    <section class="border-bottom mb-5">
                        <h2>Free Company Conduct and Behavior</h2>
                        <p>
                            The following rules apply to all members of the Free Company regardless of rank, and within
                            all
                            communication channels, including in-game chat, Discord text and voice, website, and social
                            media channels.
                        </p>
                        <ul>
                            <li>
                                Free Company members should be respectful of each other in all communication channels.
                            </li>
                            <li>
                                Harassment of other players such as insulting, name calling, or generally being rude,
                                will
                                not be tolerated. This includes, but is not limited to, conversations or sensitive
                                subjects
                                which could make others feel uncomfortable or offended such as topics of a sexual
                                nature,
                                religious and/or political views, skill level and/or performance within game, etc.
                            </li>
                            <li>
                                Racism, bigotry, name shaming, sexual harassment, witch hunting, and doxing, or ganging
                                up
                                towards another Free Company member, another player of the game, or another human being
                                will
                                not be tolerated and will result in an immediate removal from the Free Company and all
                                channels of communication.
                            </li>
                            <li>
                                Any content that could be reasonably judged as NSFW should not be posted in any
                                communication channel with the exception of the #no-one-shit-posts-like-gaston Discord
                                channel. This includes, but is not limited too, profile images, nicknames, text, links,
                                images, videos, audio, emojis, reactions, etc. Where available, Officers will remove any
                                images or content which can be reasonably judged as NSFW.
                            </li>
                            <li>
                                Do not spam communication channels or other members, either via in-game /tell’s or
                                direct
                                messages on Discord or social media platforms with unsolicited spam or advertising. This
                                may
                                result in an immediate ban.
                            </li>
                            <li>
                                Please do not advertise any services or sales from yourself or other players in any
                                communication channels. If you offer some form of service within the game that other
                                players
                                can take advantage of, such as house decorating, please use platforms such as Party
                                Finder,
                                for this, as long as it does not breach the official FFXIV EULA.
                            </li>
                            <li>
                                Please do not advertise any fundraising or charities, whether recognized or for
                                individual
                                benefit.
                            </li>
                            <li>
                                Gil selling, botting, and/or cheating is strictly prohibited. All members have a
                                responsibility to report this information to an officer or the Free Company leader for
                                further investigation. Any member found in violation of this after investigating will be
                                immediately removed from the Free Company and not permitted to be invited back for any
                                reason.
                            </li>
                            <li>
                                All disagreements between Free Company members should be discussed and resolved
                                privately
                                outside of the public communication channels.
                            </li>
                            <li>
                                If members are unable to resolve disputes with each other privately, the discussion
                                should
                                only then be brought to an officer’s attention.
                            </li>
                            <li>
                                If a member decides to leave the Free Company, they are not required to inform any
                                member,
                                officer, or the leader of the Free Company. Feedback is appreciated in these cases if it
                                is
                                something we can do better as a Free Company.
                            </li>
                            <li>
                                Rage quitting the Free Company is not acceptable for any reason and may lead to you not
                                being permitted to rejoin the Free Company in the future.
                            </li>

                        </ul>
                    </section>

                    <section class="border-bottom mb-5">
                        <h2>Free Company Chest</h2>
                        <p>
                            The following rules and guidelines apply to the use of the Free Company chest within the
                            game.
                        </p>
                        <ul>
                            <li>
                                Removing an item from the Free Company chest should be done in moderation and strictly
                                only for personal use or need. Items removed from the Free Company chest by members
                                should not be done so for selling or trading to a non-free company member.
                            </li>
                            <li>
                                You may not request that an item in the Free Company chest be reserved. Items that are
                                available for any member to withdraw are first come, first serve.
                            </li>
                            <li>
                                All members have permission to donate Gil to the Free Company chest.
                            </li>
                            <li>
                                Gil donations are only used for FC expenses, events, and/or housing upgrades.
                            </li>
                            <li>
                                The Free Company Leader and Officers are the only members with permission to remove Gil
                                from the Free Company Chest..
                            </li>
                            <li>
                                No loans will be given to any member using Gil from the Free Company Chest.
                            </li>
                            <li>
                                Please do not clean or organize the Free Company chest.
                            </li>
                            <li>
                                The Free Company Leader and/or Officers may occasionally remove items from the Free
                                Company chest that are low value, or junk items, in order to free up space. Items
                                removed in this fashion will be sold either through the Market Board or venders and all
                                profits donated back into the Free Company Chest.
                            </li>
                            <li>
                                Storage of personal items in the Free Company chest is prohibited. Please use your
                                retainers and Chocobo Saddlebag for this.
                            </li>
                            <li>
                                Page 1 of the Free Company chest is reserved for items involved with the Airship and
                                Submersible ventures and are only accessible to the Free Company Leader and Officers.
                            </li>
                            <li>
                                Page 2 of the Free Company chest is reserved for high value items that are available to
                                Free Company members that have achieved at minimum the Adventurer rank. These can only
                                be removed by the Free Company leader or Officers by request.
                            </li>
                            <li>
                                Pages 3 through 5 of the Free Company chest can be used freely by any member to place or
                                withdraw an item that they wish to share or donate for other members to use. While these
                                pages are open for all members to use, there is a basic structure to
                                what pages contain what items.
                                <ul>
                                    <li>
                                        Page 3 generally contains materia and food for end game content
                                    </li>
                                    <li>
                                        Page 4 generally contains crafting mats
                                    </li>
                                    <li>
                                        Page 5 generally contains miscellaneous items such as minions, mounts, bardings,
                                        housing
                                        items, and fireworks.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>

                    <section class="border-bottom mb-5">
                        <h2>Free Company Buffs</h2>
                        <p>
                            The following rules apply to the usage of the Free Company buffs.
                        </p>
                        <ul>
                            <li>
                                The Free Company Buff rotation is determined by all members of the Free Company during
                                specified voting periods.
                            </li>
                            <li>
                                The Free Company Leader and Officers will do their best to ensure that Free Company
                                buffs are always active, however this is subject to availability in game and cannot be
                                guaranteed.
                            </li>
                            <li>
                                Temporary changes to the current Free Company buffs can be requested by any member and
                                can only be performed by the Free Company Leader and Officers.
                            </li>
                            <li>
                                The Free Company Leader or Officers may activate certain buffs during seasonal events in
                                game, such as the MGP buff during the Golden Saucer event.
                            </li>
                        </ul>
                    </section>

                    <section class="border-bottom mb-5">
                        <h2>Live Streaming and Recording</h2>
                        <p>
                            The following rules are for when members are live streaming and/or recording content.
                        </p>
                        <ul>
                            <li>
                                Before live streaming and/or recording of any event, please inform all participants of
                                the group that you will be doing so. If anyone in the group objects, then live streaming
                                and/or recording is not permitted.
                            </li>
                            <li>
                                Before live streaming and/or recording of any event that includes voice chat and/or
                                video, such as webcam, of another participant, please inform all participants that you
                                will be including it. If anyone participating objects to having their voice and/or video
                                included, then all efforts must be made to exclude it from the live stream and/or
                                recording. If this is not possible, then live streaming and/or recording is not
                                permitted.
                            </li>
                            <li>
                                Free Company chat in-game as well as discord channel text conversations must not be
                                visible during live streaming and/or recording.
                            </li>
                            <li>
                                Party chat may be visible only if all members of the party have given permission.
                            </li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h2>Free Company Membership</h2>
                        <p>
                            The following rules apply for membership within the Free Company.
                        </p>
                        <ul>
                            <li>
                                All new members to the Free Company are placed initially in the Recruit rank for a
                                probationary period. During this time, new members are observed on their behavior within
                                the Free Company.
                            </li>
                            <li>
                                After a period of time (typically two weeks) Recruit rank members will be moved up to
                                Adventurer rank given that they have not caused any issues or conflicts among members or
                                within the Free Company.
                            </li>
                            <li>
                                Alt characters of Free Company members are allowed to join the Free Company so long as
                                the alt is an active played character.
                            </li>
                            <li>
                                Members that are inactive for a minimum of 180 days may be removed from the Free
                                Company, unless they have informed the Free Company Leader or an Officer beforehand that
                                they will be on an extended break from the game.
                            </li>

                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
