@model SignInViewModel;

@{
    ViewData["Title"] = "FC Member Sign In";
    Layout = "_Cover";
}


@section Description {
<meta name="description" content="The official website of the Needs Callouts Free Company in Final Fantasy XIV" />
<meta name="author" content="Kanae Sumida" />
}

@section OpenGraph {
<meta property="og:locale" content="en-US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Needs Callouts Member Sign In" />
<meta property="og:description" content="Member sign in to access your account." />
<meta property="og:url" content="https://needscallouts.com/account/sign-in" />
<meta property="og:site_name" content="@ViewData["Title"]" />
<meta property="og:image" content="https://needscallouts.com" />
}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-google-plus-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="SignIn" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i calss="fas fa-user"></i></span>
                        </div>
                        <input asp-for="Form.Username" class="form-control" placeholder="username" />
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="Form.Password" class="form-control" placeholder="password" />
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="#">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
