<!-- <section id="more-info"> -->


<!-- <div id="more-info-heading">
    <img src="/images/kanae-gon-ryu.webp" />
    <h1>Needs Callouts</h1>
</div>

<div id="more-info-content">
    <h2>a Final Fantasy XIV free company</h2>
    <p>
        <b>Hi there o/</b> We're a social FFXIV Free Company on the Adamantoise server offering a welcoming, mature, and
        respectful environment to all players of FFXIV. A place where you're free to craft your butt off, or just be
        silly and slap our leader. Heck, maybe even mount farm and treasure maps. You know, the good 'ole normal stuff.
    </p>
</div>
<div id="more-info-join">
    <a href="#">I WANT TO JOIN</a>
</div>
<div id="more-info-footer"></div> -->


<!-- <div id="more-info-image">

</div>
<div id="more-info-title">
    <h1>Needs Callouts</h1>
</div>
<div id="more-info-subheading">
    <h2>a Final Fantasy XIV Free Company</h2>
</div>

<div id="more-info-content">

    <p>
        <b>Hi there o/</b> We're a social FFXIV Free Company on the Adamantoise server offering a welcoming, mature, and
        respectful environment to all players of FFXIV. A place where you're free to craft your butt off, or just be
        silly and slap our leader. Heck, maybe even mount farm and treasure maps. You know, the good 'ole normal stuff.
    </p>
</div> -->

<!--<div id="more-info-button">
    <a href="#">I WANT TO JOIN</a>
</div>
<div id="more-info-footer">
    UH...I WANT TO LEARN MORE
</div> -->

<!--
    <div id="more-info-heading">
        <img src="/images/kanae-gon-ryu.webp" />
        <h1>Needs Callouts</h1>
    </div>
    <div>
        <h2>a Final Fantasy XIV Free Company</h2>
    </div>
    <div>
    <p>
        <b>Hi there o/</b> We're a social FFXIV Free Company on the Adamantoise server offering a welcoming, mature, and
        respectful environment to all players of FFXIV. A place where you're free to craft your butt off, or just be
        silly and slap our leader. Heck, maybe even mount farm and treasure maps. You know, the good 'ole normal stuff.
    </p>
    <a id="join-button" href="*">I WANT TO JOIN</a>
    <small>UH...I WANT TO LEARN MORE FIRST</small> -->
<!-- </section> -->
