<section class="carousel">
    <div id="carousel-title-container">
        <h1>Needs Callouts</h1>
        <h3>A Final Fantasy XIV Free Company</h3>
        <a id="learn-more-button" href="#more-info">Learn More</a>
    </div>
    <div id="carousel-overlay"></div>
    <img class="carousel-image" src="/images/kanae-laughing.webp" />
    <img class="carousel-image" src="/images/kanae-muggy-end.webp" />
    <img class="carousel-image" src="/images/kanae-outside-winter.webp" />
    <img class="carousel-image" src="/images/fc-holiday-2021.webp" />
    <img class="carousel-image" src="/images/kanae-holiday-2021.webp" />
    <img class="carousel-image" src="/images/fc-map-night-082221.webp" />
    <img class="carousel-image" src="/images/kanae-amenie-lailah.webp" />
    <img class="carousel-image" src="/images/kanae-gon-slap.webp" />
    <img class="carousel-image" src="/images/fc-bed-gang.webp" />
    <img class="carousel-image" src="/images/kanae-muggy-pokemon-glam.webp" />
    <img class="carousel-image" src="/images/fc-map-night.webp" />
</section>
