<section class="gallery">
    <img src="/images/landing/fc-bed-gang.webp" alt="Free Company members lined up on top of house all on the bed mount" loading="lazy"/>
    <img src="/images/landing/fc-holiday-2021.webp" alt="Free Company Holiday 2021 picture" loading="lazy"/>
    <img src="/images/landing/kanae-outside-winter.webp" alt="Kanae outside the FC house during winter" loading="lazy"/>
    <img src="/images/landing/fc-map-night-082221.webp" alt="Free Company members during a map night" loading="lazy"/>
    <img src="/images/landing/kanae-laughing.webp" alt="Kanae laughing" loading="lazy"/>
    <img src="/images/landing/fc-map-night.webp" alt="Free Company Members during a map night" loading="lazy"/>
    <img src="/images/landing/kanae-amenie-lailah.webp" alt="Kanae, Amenie, and Lailah" loading="lazy"/>
    <img src="/images/landing/kanae-muggy-end.webp" alt="Kanae and Muggy posting at the end of a trial" loading="lazy"/>
    <img src="/images/landing/kanae-holiday-2021.webp" alt="Kanae holiday 2021 picture" loading="lazy"/>
    <img src="/images/landing/kanae-gon-ryu.webp" alt="Kanae, Gon, and Ryu" loading="lazy"/>
    <img src="/images/landing/kanae-muggy-pokemon-glam.webp" alt="Kanae and Muggy in pokemon glams" loading="lazy"/>
    <img src="/images/landing/heading.webp" alt="Kanae and Gon slapping each other" loading="lazy"/>
    <img src="/images/landing/hero.webp" alt="Kanae sitting on the couch in the FC house" loading="lazy"/>
</section>
