<section class="illustration">
    <div class="illustration-title-container">
        <h1>Needs Callouts</h1>
        <h3>A Final Fantasy XIV Free Company</h3>
        <a id="learn-more-button" href="#more-info">Learn More</a>
    </div>
    <div class="illustration-overlay"></div>
    <img class="illustration-image" src="/images/kanae-gon-slap.webp" />
</section>
