<section class="illustration">
    <div class="illustration-title-container">
        <!-- <img src="/images/landing/logo-opti.svg" /> -->
        <!-- <h1>Needs Callouts</h1> -->
        <!-- <h3>A Final Fantasy XIV Free Company</h3> -->
        <!-- <a role="button" class="button button-light" href="#">Learn More</a> -->
        <!-- <a id="learn-more-button" href="#more-info">Learn More</a> -->
    </div>
    <div class="illustration-overlay"></div>
    <div class="illustration-image"></div>
</section>
