<div id="latest-news">
    <h2>Latest</h2>
    <%- include('./_news-card.ejs', {
        article: {
            type: 'NEWS',
            image: '/images/fc-map-night.webp',
            title: 'Free Company Map Night',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor purus. Praesent in porttitor libero, vitae placerat erat. Donec a risus facilisis, ullamcorper risus nec, bibendum velit. Sed ac elit congue, ultrices urna vitae.'
        }
    }) %>


    <%- include('./_news-card.ejs', {
        article: {
            type: 'EVENTS',
            image: '/images/fc-map-night.webp',
            title: 'Free Company Map Night',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor purus. Praesent in porttitor libero, vitae placerat erat. Donec a risus facilisis, ullamcorper risus nec, bibendum velit. Sed ac elit congue, ultrices urna vitae.'
        }
    }) %>


    <%- include('./_news-card.ejs', {
        article: {
            type: 'TIPS',
            image: '/images/fc-map-night.webp',
            title: 'Free Company Map Night',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor purus. Praesent in porttitor libero, vitae placerat erat. Donec a risus facilisis, ullamcorper risus nec, bibendum velit. Sed ac elit congue, ultrices urna vitae.'
        }
    }) %>


    <%- include('./_news-card.ejs', {
        article: {
            type: 'WATCH',
            image: '/images/fc-map-night.webp',
            title: 'Free Company Map Night',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor purus. Praesent in porttitor libero, vitae placerat erat. Donec a risus facilisis, ullamcorper risus nec, bibendum velit. Sed ac elit congue, ultrices urna vitae.'
        }
    }) %>

    <a href="#" class="button button-dark">TAKE ME TO OTHER STUFF</a>
</div>
