<section id="meet-the-officers">
    <div class="split-heading-container">
        <h1 class="split-heading-top">Meet the officers</h1>
        <h1 class="split-heading-bottom">and stuff</h1>
    </div>
    <div id="meet-the-officers-content">
        <div>
            <p><b>The Free Company Leader and Officers</b> are responsible for overseeing all aspects of the Free Company including the day-to-day management, organizing and/or hosting events within the Free Company, assisting members with content within the game, and are actively involved with the social aspects of the Free Company.</p>
        </div>

        <div>
            <p>
                The Free Company Leader and Officers are also responsible for ensuring that all rules and guidelines are followed to ensure a continued friendly and welcoming and enjoyable environment for all Free Company members.
            </p>
            <br/>
            <p>
                Members are only eligible for an Officer position within the Free Company when a spot becomes available and must go through an application and interview process to be considered for the position.
            </p>
        </div>

    </div>
</section>

<!-- <section class="flex-row justify-content-end width-100 position-relative">
    <div class="line border-left-dashed-half-height"></div>
    <div class="split-heading-container">
        <h1 class="split-heading-top">Meet the officers</h1>
        <h1 class="split-heading-bottom">and stuff</h1>
    </div>

</section> -->
