<section id="meet-the-officers">
    <div class="split-heading-container">
        <h1 class="split-heading-top">Meet the officers</h1>
        <h1 class="split-heading-bottom">and stuff</h1>
    </div>
    <div id="meet-the-officers-content">
        <div>
            <p>
                <b>The Free Company Leader and Officers</b> are responsible for overseeing all aspects of the Free
                Company including the day-to-day management, organizing and/or hosting events within the Free Company,
                assisting members with content within the game, and are actively involved with the social aspects of the
                Free Company.
            </p>
        </div>

        <div>
            <p>
                The Free Company Leader and Officers are also responsible for ensuring that all rules and guidelines are
                followed to ensure a continued friendly and welcoming and enjoyable environment for all Free Company
                members.
            </p>
            <br />
            <p>
                Members are only eligible for an Officer position within the Free Company when a spot becomes available
                and must go through an application and interview process to be considered for the position.
            </p>
        </div>
    </div>

    <div id="ranks-and-leader">
        <div id="ranks">
            <h4>Membership Rank Types</h4>
            <div id="ranks-list-container">
                <div class="rank-item">
                    <div class="rank-heading">
                        <div class="rank-image" style="background-image: url('/images/spriggan.png')"></div>
                        <div class="rank-name">MEMBER RANKS</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            Recruit <svg xmlns="http://www.w3.org/2000/svg" class="svg-regular" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                              </svg> Adventurer
                        </p>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-heading">
                        <div class="rank-image" style="background-image: url('/images/spriggan.png')"></div>
                        <div class="rank-name">ADVENTURER</div>
                    </div>
                    <div class="rank-description">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo earum nulla veritatis asperiores amet sequi placeat. Veritatis aspernatur reprehenderit nam.</p>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-heading">
                        <div class="rank-image" style="background-image: url('/images/spriggan.png')"></div>
                        <div class="rank-name">RECRUIT</div>
                    </div>
                    <div class="rank-description">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo earum nulla veritatis asperiores amet sequi placeat. Veritatis aspernatur reprehenderit nam.</p>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-heading">
                        <div class="rank-image" style="background-image: url('/images/spriggan.png')"></div>
                        <div class="rank-name">RECRUIT</div>
                    </div>
                    <div class="rank-description">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo earum nulla veritatis asperiores amet sequi placeat. Veritatis aspernatur reprehenderit nam.</p>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-heading">
                        <div class="rank-image" style="background-image: url('/images/spriggan.png')"></div>
                        <div class="rank-name">RECRUIT</div>
                    </div>
                    <div class="rank-description">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo earum nulla veritatis asperiores amet sequi placeat. Veritatis aspernatur reprehenderit nam.</p>
                    </div>
                </div>                                                                                
            </div>
        </div>
        <div id="leader"></div>
    </div>
</section>
