<section id="meet-the-officers">
    <div class="split-heading-container">
        <h1 class="split-heading-top">Meet the officers</h1>
        <h1 class="split-heading-bottom">and stuff</h1>
    </div>
    <div id="meet-the-officers-content">
        <div>
            <p>
                <b>The Free Company Leader and Officers</b> are responsible for overseeing all aspects of the Free
                Company including the day-to-day management, organizing and/or hosting events within the Free Company,
                assisting members with content within the game, and are actively involved with the social aspects of the
                Free Company.
            </p>
        </div>

        <div>
            <p>
                The Free Company Leader and Officers are also responsible for ensuring that all rules and guidelines are
                followed to ensure a continued friendly and welcoming and enjoyable environment for all Free Company
                members.
            </p>
            <br />
            <p>
                Members are only eligible for an Officer position within the Free Company when a spot becomes available
                and must go through an application and interview process to be considered for the position.
            </p>
        </div>
    </div>



    <div id="ranks-container">
        <div class="rank-card">
            <div class="rank-card-heading">MEMBER RANKS</div>
            <div class="rank-card-body">
                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-purple text-white">RECRUIT</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            All new members start as <b>Recruits</b> for ~2weeks while we get to know you further.
                        </p>
                    </div>
                </div>

                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-purple text-white">ADVENTURER</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            Recruites are moved up to <b>Adventurers</b>, which gives them additional access to FC things suc as the FC Chest.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="rank-card">
            <div class="rank-card-heading">AUXILARY RANKS</div>
            <div class="rank-card-body">
                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-yellow text-black">ALL ROUNDER</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            <b>All Rounders</b> are members that have reached max level with at least one tank, one healer, and one dps.  They can flex any role to help run content in game.
                        </p>
                    </div>
                </div>

                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-yellow text-black">OMNISOUL</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            <b>Omnisoul</b> is a rank given to members that have achieve reaching max level with all combat related jobs.  This means all tanks, all healers, and all dps.
                        </p>
                    </div>
                </div>

                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-yellow text-black">OMNICRAFTER</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            <b>Omnicrafters</b> are members that have reached max level with all crafting jobs and <b>really</b> enjoy crafting in the game.  They are also given additional access to the FC Workshop.
                        </p>
                    </div>
                </div>

                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-yellow text-black">LEGEND</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            <b>Legend</b> is a role that members can request after completing at least one of the Ultimate raids in game.  Let's be honest, it's a flex title.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rank-card">
            <div class="rank-card-heading">ADDITIONAL RANKS</div>
            <div class="rank-card-body">
                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-blue text-white">GARDENER</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            The <b>Gardeners</b> have access to the FC garden patch for growing seeds.
                        </p>
                    </div>
                </div>

                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-blue text-white">WORKSHOP CRAFT</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            The <b>Workshop Craft</b> rank is a temporary rank that we can assign to members that want to use the FC Workshop to craft items.
                        </p>
                    </div>
                </div>

                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-blue text-white">HOUSE DECORATOR</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            <b>House Decorator</b> is another temporary rank that we use for members that would like to rearrange the furniture in the FC House.
                        </p>
                    </div>
                </div>

                <div class="rank">
                    <div class="rank-title">
                        <div class="rank-image" style=""></div>
                        <div class="rank-name bg-blue text-white">WAIT, AM I DEAD</div>
                    </div>
                    <div class="rank-description">
                        <p>
                            Members that are on an extended break from the game are given the <b>Wait, am I dead?</b> rank.  It just means they're on vacation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
