<section id="message-us-container">
    <div id="message-us-info">
        <h1>Care to message us?</h1>
        <p>
            <b>Have a question?</b> Send an FC Officer a message with this form. Feel free to ask questions about the
            FC, what our culture is like, what events we run, what our members' interests are, Kanae's favorite kind of
            pizza, how many slaps to get to the center of a Gonpachiro...you get the idea :)
        </p>
    </div>

    <div id="message-us-form">
        <input type="text" placeholder="What's your character name?" />
        <input type="text" placeholder="What's your email?" />
        <textarea class="input-purple" placeholder="What wold you like to say or ask?"></textarea>
        <button class="button button-dark">SEND MY MESSAGE</button>

    </div>
</section>

<!-- <div class="display-flex flex-row gap-2">
    <div class="display-flex flex-column gap-1 flex-basis-0 flex-grow-1">
        <h1 class="heading-purple">Care to message us?</h1>
        <p>
            <b>Have a question?</b>  Send an FC Officer a message with this form.  Feel free to ask questions about the FC, what our culture is like, what events we run, what our members' interests are, Kanae's favorite kind of pizza, how many slaps to get to the center of a Gonpachiro...you get the idea :)
        </p>
    </div>
    <div class="display-flex flex-column gap-1 flex-basis-0 flex-grow-1">
        <input type="text" placeholder="What's your character name?" />
        <input type="text" placeholder="What's your email?" />
        <textarea class="input-purple" placeholder="What wold you like to say or ask?"></textarea>
        <button>SEND MY MESSAGE</button>
    </div>
</div> -->
