<header class="full-screen-navigation">
    <!-- <div class="nav-bg"></div> -->
    <a class="logo" href="/">
        <img src="/images/landing/logo-2-opti.svg" />
    </a>

    <nav role="navigation" aria-label="Site Navigation">
        <div class="nav-item active">Home</div>
        <div class="nav-item">Who Are We?</div>
        <div class="nav-item">How to Join!</div>
        <div class="nav-item">Meet the Officers</div>
        <div class="nav-item">Message Us</div>
    </nav>
</header>

<header class="mobile-navigation">
    <a class="logo" href="/">
        <img src="/images/landing/logo-opti.svg" />
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="nav-toggle-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
            />
        </svg>
    </label>

    <div class="nav-container">
        <div class="nav-wrapper">
            <div class="nav-padding">
                <nav role="navigation" aria-label="Site Navigation">
                    <div class="nav-item active" tabindex="1">Home</div>
                    <div class="nav-item" tabindex="2">Who Are We?</div>
                    <div class="nav-item" tabindex="3">How to Join!</div>
                    <div class="nav-item" tabindex="4">Meet the Officers</div>
                    <div class="nav-item" tabindex="5">Message Us</div>
                </nav>
            </div>
        </div>
    </div>
</header>
