<header class="top-nav-container">
    <!-- <div class="nav-bg"></div> -->
    <a class="logo" href="/">
        <img src="/images/landing/logo-opti.svg" />
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="nav-toggle-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
            />
        </svg> </label
    >
    <div class="nav-wrapper">
        <nav role="navigation" aria-label="Site Navigation">
            <div class="nav-item active">Home</div>
            <div class="nav-item">Who Are We?</div>
            <div class="nav-item">How to Join!</div>
            <div class="nav-item">Meet the Officers</div>
            <div class="nav-item">Message Us</div>
        </nav>
    </div>
</header>
